<!DOCTYPE html>
<html lang="en">

<head>
    <style> 
            h1{
                color:grey;
            }
        </style>
        <title>{{title}}</title>

</head>
<body>
    {{>header}}
    <p>{{errorMessage}}</p>
    {{>footer}}


</body>
</html>