<!DOCTYPE html>
<html lang="en">

<head>
    <style> 
            h1{
                color:grey;
            }
        </style>

</head>
<body>
    {{>header}}
    <img src="./public/images/robot.jpg"
    {{>footer}}


</body>
</html>