<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet"  type="text/html"  href="public/css/styles.css"/>


</head>
<body>
    <h1> created by {{name}} </h1>
    <img src="/public/images/robot.jpg"/>
   

</body>
</html>