<!DOCTYPE html>
<html>
<head>
    <title>help</title>
            <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/weather-2191838-1846632.png">

             <style> 
            body{
                color: #333333;
                font-family: Arial, Helvetica, sans-serif;
                max-width: 650px;
                margin: 0 auto;
                padding: 0 16px ;
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }
            .help-content{
                flex-grow: 1;
            }
        </style>
</head>
<body>
    <div class="help-content">
    {{>header}}
    <p> Go to weather to check weather now  </p>
    </div>
    {{>footer}}
</body>
</html>