<!DOCTYPE html>
<html>
    <head>
        <title>Weather app </title>
        <style> 
           
            body{
                color: #333333;
                font-family: Arial, Helvetica, sans-serif;
                max-width: 650px;
                margin: 0 auto;
                padding: 0 16px ;

            }
        </style>


    </head> 
    <body>
        {{>header}}
        {{>footer}}


    </body>
</html>