<!DOCTYPE html>
<html>
    <head>
        <title>Weather app </title>
                <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/weather-2191838-1846632.png">

        <style> 
           
            body{
                color: #333333;
                font-family: Arial, Helvetica, sans-serif;
                max-width: 650px;
                margin: 0 auto;
                padding: 0 16px ;
                display: flex;
                flex-direction: column;
                min-height: 100vh;

            }
            .main-content{
                flex-grow:1;
            }
            
        </style>
    <script>

fetch('http://localhost:3000/weather?address=boston').then((response)=>{
    response.json().then((data)=>{
        if (data.error){
            
            console.log('error'+data.error)

        }
        else{
            console.log(data.location)
            console.log(data.forecast)

 
        }
    })
})
    </script>
    </head> 
    <body>
        <div class="main-content">       
             {{>header}}
             <p>Use this site to get your weather </p>



        </div>
        {{>footer}}


    </body>
</html>