<!DOCTYPE html>
<html>
    <head>
        <title>Weather app </title>
                <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/weather-2191838-1846632.png">

        <style> 
           
            body{
                color: #333333;
                font-family: Arial, Helvetica, sans-serif;
                max-width: 650px;
                margin: 0 auto;
                padding: 0 16px ;
                display: flex;
                flex-direction: column;
                min-height: 100vh;

            }
            .main-content{
                flex-grow:1;
            }
            
        </style>

    </head> 
    <body>
        <div class="main-content">       
             {{>header}}
             <p>Use this site to get your weather </p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

        </div>
        {{>footer}}

            <script>


    const weatherForm = document.querySelector('form')
    const search = document.querySelector('input')

    weatherForm.addEventListener('submit',(event)=>{
    event.preventDefault() 
    const location = search.value
     console.log(location)

     fetch('http://localhost:3000/weather?address='+location).then((response)=>{
      response.json().then((data)=>{
        if (data.error){
            
            console.log(data.error)

        }
        else{
            console.log(data.location)
            console.log(data.forecast)
        }
        })

    })
    })
    </script>


    </body>
</html>