<!DOCTYPE html>
<html>
    <head>
        <title>Weather app </title>
                <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/weather-2191838-1846632.png">

        <style> 
           
            body{
                color: #333333;
                font-family: Arial, Helvetica, sans-serif;
                max-width: 650px;
                margin: 0 auto;
                padding: 0 16px ;
                display: flex;
                flex-direction: column;
                min-height: 100vh;

            }
            .main-content{
                flex-grow:1;
            }
            input{
                border:1px solid #cccccc;
                padding:8px ;

            }
            button{
                cursor: pointer;
                border: 1px solid #888888 ;
                background: #888888;
                color: white;
                padding: 8px;

            }
            
        </style>

    </head> 
    <body>
        <div class="main-content">       
             {{>header}}
             <p>Use this site to get your weather </p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id='message-1'></p>
            <p id='message-2'></p>

        </div>
        {{>footer}}

            <script>


    const weatherForm = document.querySelector('form')
    const search = document.querySelector('input')
    const messageOne = document.querySelector('#message-1')
    const messageTwo = document.querySelector('#message-2')

    messageOne.textContent = ''
    messageTwo.textContent = ''
    weatherForm.addEventListener('submit',(event)=>{
    event.preventDefault() 
    const location = search.value
     console.log(location)

     fetch('http://localhost:3000/weather?address='+location).then((response)=>{
      response.json().then((data)=>{
        if (data.error){
            
            console.log(data.error)
            messageOne.textContent = data.error

        }
        else{
         
            messageOne.textContent = data.location
            const tempC = data.forecast.temp - 273.15

            messageTwo.textContent = ' clouds ' + data.forecast.clouds + ' , '+
            ' humidity ' +  data.forecast.humidity  +' , '+ ' pressure ' + data.forecast.pressure 
            +' , '+   ' sunrise ' + data.forecast.sunrise + ' , '+' temp in Kelvin  ' + data.forecast.temp + ' , ' +' temp in Celsius' + tempC
           // console.log(data.location)
            console.log(data.forecast)

        }
        })

    })
    })
    </script>


    </body>
</html>