<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type="text/html"  href='public/css/styles.css'/>
        <script src="public/js/app.js"></script>
        <title>Weather app </title>

    </head> 
    <body>
        <h1> {{title}} </h1>
        <h2>Created by {{name}}</h2>

    </body>
</html>