<style>
    footer{
        color: #888888;
        padding: 16px ;
        margin: 16px;
        border-top: 1px solid #eeeeee ;
        margin-top: 16px;
        padding: 16px 0;
    }
</style>
<footer>
<p> Created by {{name}} </p>
</footer>
